<div>
    <h1>Text similarity</h1>

    <div>
        <form (submit)="checkTextSimilarities()" class="mb-5">
            <div>
                <textarea name="message" rows="4" cols="50" [(ngModel)]="text1" class="main" ></textarea>
                <textarea name="message" rows="4" cols="50" [(ngModel)]="text2" ></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <h3 *ngIf="similarity!==0">
            {{similarity*100}}%
        </h3>
    </div>
</div>