<div>
    <h3>Configuration page</h3>
    <p>Configuration page visits:</p>

    <div>
        <form (submit)="checkTextSimilarities()" class="mb-5">
            <div class="form-group mb-2">
                <label for="name">User Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="text1" [(ngModel)]="text1">
                <input type="text" placeholder="text2" id="name" name="name" [(ngModel)]="text2">
            </div>
            <div *ngIf="similarity!==0">
                {{similarity}}
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>