<div>
    <h1>Detect language page</h1>

    <div>
        <form (submit)="detectLanguage()" class="mb-5">
            <div>
                <textarea [(ngModel)]="text" name="text" rows="4" cols="50"></textarea>
                <label>Clean</label>
                <input type="checkbox" placeholder="text" id="name" name="name" [(ngModel)]="clean">
            </div>      
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <li *ngFor="let language of languages">
            {{language.lang}}
            {{language.confidence}}
        </li>
    </div>
</div>